/* src/components/Navbar.css */

.navbar {
    background-color: #0084ff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .navbar a {
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ffcd3c;
  }
  
  .signup-button {
    background-color: #ffcd3c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  